
/* Center the container in the middle of the page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;  /* Full viewport height */
  text-align: center;
  background-color: black;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  width: fit-content;
}

.humidity {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  width: fit-content;
}
